$dblue : #010411;
$dlblue : #09103A;
$lblue : #5EDFFF;
$ldblue : #1D58F5;
$white : #FFF;
$black : #000;
$gray: #d9d9d9;
$overlaydark : #28344E;
$overlaylight: #46577C;
$cardbg : #10173B;
$stepcolor : #007AFF;

@mixin mainStructure() {
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
  @media (max-width: 1536px){
    max-width: 1280px;
    padding: 0 0.7rem;
  }
  @media (max-width: 1280px){
    max-width: 1024px;
    padding: 0 0.5rem;
  }
  @media (max-width: 1024px){
    max-width: 95%;
    padding: 0;
  }
}


@mixin centerAbsolute() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin imageCover($vertical, $horizontal) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: $vertical $horizontal;
  transform: none;
}
