@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../assets/fonts/#{$file_name}.woff") format("woff"),
    url("../assets/fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'fonts';
@import 'variables-mixins';
@import 'body';
@import 'header';
@import 'page-account';
@import 'components/button';

//BLOCKS
@import 'blocks/main-hero';
@import 'blocks/cta-block';
@import 'blocks/steps-slider';
@import 'blocks/logos-slider';


