# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
.*
~*
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.sublime-project
*.sublime-workspace
*.komodoproject
.idea
!.gitignore
