.steps-block{
  display: grid;
  margin: 2rem 0;
  padding:0 2%;
  &__container {
    //@include mainStructure();
  }
  &__top {
    padding: 0.5rem 0 1rem;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid $white;
  }
  &__bottom{
    display: grid;
    width: 127.5%;
    @media (max-width: 768px){
      width: 100%;
    }
  }
  &__bottom--slider-area{
    position:relative;
  }
  &__title{
    color:$white;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__arrows{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.6rem;
  }
  &__arrow{
    border-radius: 100%;
    width: 2.2rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: #FFFFFF20;
    cursor: pointer;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  &__slider{
    margin-top: 2rem;
    position: absolute!important;
    width: 100%;
  }
  &__slide{
    padding: 0 1px 5rem;
    &--completed{
      opacity: .2;
    }
    .slide__wrapper{
      border-radius: 0.9rem;
      border:1px solid rgba(255, 255, 255, 0.10);
      background-color: $cardbg;
      padding: 2rem 1rem;
      position: relative;
      overflow: hidden;
      height: 100%;
      box-shadow: 0px 100px 109px 0px rgba(0, 0, 0, 0.05), 0px 41px 45px 0px rgba(0, 0, 0, 0.07), 0px 22px 24px 0px rgba(0, 0, 0, 0.09), 0px 12px 13px 0px rgba(0, 0, 0, 0.11), 0px 6px 7px 0px rgba(0, 0, 0, 0.13), 0px 2px 3px 0px rgba(0, 0, 0, 0.19);
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #FFF;
        clip-path: polygon(8rem 0, 100% 0, 100% 100%, 0% 100%);
        height: 100%;
        width: 18rem;
        transform: translateX(12rem);
        opacity: 0.10;
      }
    }

  }
  &__slide-top{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-content: space-between;
  }
  &__slide-number{
    font-size: 1.2rem;
    font-weight: 400;
    color:$stepcolor;
  }
  &__small-number{
    font-size: 0.7rem;
    font-weight: 400;
    color:$white;
    text-align: right;
  }
  &__slide-title{
    margin-top: 2rem;
    color:$white;
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
  }

}